{% extends 'base.html.twig' %}

{% block title %}Gérer les Recettes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('recipe') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('recipe') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include 'elements/profilnav.html.twig' %}
            <div class="col-md-9">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#recipes" data-bs-toggle="tab">Mes Recettes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#new-recipe" data-bs-toggle="tab">Nouvelle Recette</a>
                    </li>
                    <li class="nav-item" id="edit-recipe-tab" style="display: none;">
                        <a class="nav-link" href="#edit-recipe" data-bs-toggle="tab">Éditer Recette</a>
                    </li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane fade show active" id="recipes">
                        <div id="notification" class="alert alert-success" style="display: none;"></div>
                        <div class="row" id="recipes-list" data-csrf-token="{{ csrf_token('delete') }}"></div>
                    </div>
                    <div class="tab-pane fade" id="new-recipe">
                        <form id="recipe-form-new" method="post" action="{{ path('recipe_new') }}" enctype="multipart/form-data" class="needs-validation" novalidate>
                            {{ include('recipe/recipe_form.html.twig') }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}